<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterblog | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>MasterBlog Dashboard</h1>
    <div class="nav-links">
        <button><a href="{{ url_for('add') }}">Add</a></button>
    </div>
    <div class="posts-container">
        {% for post in posts %}
        <div class="post">
            <em>{{post['author']}}</em>
            <h2>{{post['title']}}</h2>
            <p>{{post['content']}}</p>
            <div class="post-buttons">
                <button onclick="return confirm('Are you sure to delete this post?');"><a href="{{ url_for('delete', post_id=post['id']) }}">Delete</a></button>
                <button><a href="{{ url_for('update', post_id=post['id']) }}">Update</a></button>
                <button class="like-button"><a href="{{ url_for('like', post_id=post['id']) }}">❤️️ {{post['likes']}}</a></button>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
